{% case block_settings.colors %}
  {% when 'white' %}
<div class="homepage-sections-wrapper homepage-sections-wrapper--white">
    {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
        {% when 'accent' %}
        <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
            {% when 'dark' %}
            <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
                {% endcase %}

                <div class="wrapper">

                    <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper feature-row__text--{{ block_settings.layout }}">

                        <div class="grid__item large--five-sixths push--large--one-twelfth homepage-featured-rich-text">

                            {% if block_settings.title != blank %}
                                <div class="sitewide--title-wrapper">
                                    <h2 class="homepage-sections--title">{{ block_settings.title | escape }}</h2>
                                </div>
                            {% endif %}

                            {% if block_settings.text != blank %}
                                <div class="rte featured-row__subtext textarea">{{ block_settings.text }}</div>
                            {% endif %}

                            {% if block_settings.button_label != blank and block_settings.button_link != blank %}
                                <div>
                                    <a href="{{ block_settings.button_link }}" class="homepage-featured-box-btn">
                                        {{ block_settings.button_label }}
                                    </a>
                                </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>