{% case block_settings.colors %}
  {% when 'white' %}
<div class="homepage-sections-wrapper homepage-sections-wrapper--white">
    {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
        {% when 'accent' %}
        <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
            {% when 'dark' %}
            <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
                {% endcase %}

                <div class="homepage-instagram-background homepage-indiv-section-wrapper">

                    <div class="{% if block_settings.instagram-homepage-width == 'fixed' %}wrapper {% endif %}main-content" role="main">

                        <div class="instagram-wrapper" data-id="{{ block.id }}">
                            <div class="sitewide--title-wrapper">
                                <h2 class="homepage-sections--title">{{ block_settings.title | escape }}</h2>
                            </div>

                            {% capture instagram_placeholder %}
                            <div class="grid__item instagram-grid-{{ block_settings.grid }} homepage-instagram-indiv">
                                {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
                                <div class="homepage-instagram-hover">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-instagram fa-stack-1x"></i>
    </span>
                                </div>
                            </div>
                            {% endcapture %}

                            {% if block_settings.instagram-access-token != empty %}
                                <input type="hidden" id="token-{{ block.id }}" value="{{ block_settings.instagram-access-token | escape }}" />
                                <script type="text/html" id="instagram-placeholder">
                                    {{ instagram_placeholder }}
                                </script>

                                <div id="instafeed-{{ block.id }}" class="grid--full grid-uniform"
                                     data-grid="{{ block_settings.grid }}"
                                     data-rows="{{ block_settings.rows }}"
                                     data-grid-width="instagram-grid-{{ block_settings.grid }}">
                                </div>
                            {% else %}
                                <div id="instafeed-{{ block.id }}" class="grid--full">
                                    {% capture total_images %}{{ block_settings.grid | times: block_settings.rows }}{% endcapture %}
                                    {% for i in (1..total_images) %}{{ instagram_placeholder }}{% endfor %}
                                </div>
                            {% endif %}


                            {% if settings.sm_instagram_link != empty %}
                                <div class="homepage-instagram-link-btn-wrapper">
                                    <a href="{{ settings.sm_instagram_link }}" target="_blank" class="homepage-instagram-link-btn">{{ 'homepage.sections.instagram_follow_us' | t }}</a>
                                </div>
                            {% endif %}


                        </div>
                    </div>
                </div>

            </div>

            {% assign instaimage = '{{image}}' %}
            {% assign instaurl = '{{link}}' %}
