{% capture section_width %}
    {% if block_settings.layout == "full-width" %} section__full-width {% endif %}
{% endcapture %}

{% case block_settings.colors %}
  {% when 'white' %}
<div class="homepage-sections-wrapper homepage-sections-wrapper--white {{ section_width }}">
    {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light {{ section_width }}">
        {% when 'accent' %}
        <div class="homepage-sections-wrapper homepage-sections-wrapper--accent {{ section_width }}">
            {% when 'dark' %}
            <div class="homepage-sections-wrapper homepage-sections-wrapper--dark {{ section_width }}">
                {% endcase %}

                {% if block_settings.layout == "full-width" %}
                    {% assign img_size = '2000x' %}
                {% else %}
                    {% assign img_size = '1200x' %}
                {% endif %}

                <style>
                    {% if block_settings.image != blank %}
                    {% capture selector %}.homepage-content--{{ block.id }} .img{% endcapture %}
                    {% include 'responsive-background-image' with block_settings.image, selector: selector %}

                    .homepage-content--{{ block.id }} .img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    {% endif %}

                    .homepage-content--{{ block.id }} .img,
                    .homepage-content--{{ block.id }} .img .icon--placeholder {
                        height: {{ block_settings.image_height }};
                    }

                    @media only screen and (min-width: 768px) {
                        .homepage-content--{{ block.id }} .rellax.img {
                            height: {{ block_settings.image_height | remove:'vw' | times:1.5 | append:'vw' }};
                            margin-top: {{ block_settings.image_height | remove:'vw' | times:-0.25 | append:'vw' }};
                        }
                        .homepage-content--{{ block.id }} .img .icon--placeholder {
                            height: {{ block_settings.image_height | remove:'vw' | times:1.5 | append:'vw' }};
                        }
                    }

                    .parallax.parallax--{{ block.id }} {
                        height: {{ block_settings.image_height }};
                    }
                </style>

                <div class="{% if block_settings.layout != "full-width" %} wrapper {% endif %} ">

                    <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper feature-row__text--{{ block_settings.layout }}">

                        {% capture image_layout %}
                        <div class="grid__item {% if block_settings.layout == "full-width" %} large--one-whole {% else %} large--three-quarters {% endif %} homepage-content--image homepage-content--{{ block.id }}">
                            <div class="{% if block_settings.parallax %} parallax parallax--{{ block.id }}{% endif %}">
                                {% if block_settings.image != blank %}
                                    <div id="rellax--{{ block.id }}" class="img parallax-img{% if block_settings.parallax %} rellax{% endif %}" data-rellax-percentage="0.5"></div>
                                {% else %}
                                    <div id="rellax--{{ block.id }}" class="placeholder-background img{% if block_settings.parallax %} rellax{% endif %}" data-rellax-percentage="0.5">
                                        {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endcapture %}

                        {% if block_settings.layout == 'left' or block_settings.layout == 'full-width' %}
                            {{ image_layout }}
                        {% endif %}

                        <div class="grid__item homepage-featured-content-box {% if block_settings.layout == 'full-width' %} content_box--center {% endif %}">

                            {% if block_settings.title != blank or block_settings.text != blank or block_settings.button_label != blank %}

                                <div class="homepage-featured-content-box-inner">

                                    {% if block_settings.title != blank %}
                                        <div class="sitewide--title-wrapper">
                                            <h2 class="homepage-sections--title">{{ block_settings.title | escape }}</h2>
                                        </div>
                                    {% endif %}

                                    {% if block_settings.text != blank %}
                                        <div class="rte featured-row__subtext textarea">{{ block_settings.text }}</div>
                                    {% endif %}

                                    {% if block_settings.button_label != blank and block_settings.button_link != blank %}
                                        <div>
                                            <a href="{{ block_settings.button_link }}" class="homepage-featured-box-btn">
                                                {{ block_settings.button_label | escape }}
                                            </a>
                                        </div>
                                    {% endif %}

                                </div>

                            {% endif %}

                        </div>

                        {% if block_settings.layout == 'right' %}
                            {{ image_layout }}
                        {% endif %}

                    </div>

                </div>

            </div>