{% if block.settings.space_around %}
  <div class="index-section">
{% endif %}
{% unless block.settings.full_width %}
  <div class="page-width">
{% endunless %}
  <div class="custom-content">
    {% case block.settings.width %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--html">
            {% if block.settings.code != blank %}
              <div class="rte" data-section-id="{{ block.id }}" data-section-type="featured-content-section">
                {{ block.settings.code }}
              </div>
            {% else %}
              <div class="rte">
                Please add content
              </div>
            {% endif %}
      </div>
    </div>
  </div>
{% unless block.settings.full_width %}
  </div>
{% endunless %}
{% if block.settings.space_around %}
  </div>
{% endif %}
