<div class="homepage-sections-wrapper homepage-sections-wrapper--{{ block_settings.colors }}">

    <div class="grid grid--center">

        <div class="homepage-hero-content--video {% case block_settings.width_classes %}{% when 50 %}grid__item large--one-half{% when 75 %}grid__item large--three-quarters{% when 100 %}grid__item large--one-whole{% endcase %}">

            <div class="homepage-hero-content-overlay-wrapper homepage-video-content-overlay-wrapper-{{ block.id }}">

                <div class="homepage-hero-content-video-image-block js__hide-on-play">

                </div>

                <div class="homepage-hero-content-video-text-block js__hide-on-play">
                    {% if block_settings.title != blank %}
                        <h2>{{ block_settings.title | escape }}</h2>
                    {% endif %}

                    {% if block_settings.richtext != '' %}
                        {{ block_settings.richtext }}
                    {% endif %}

                    <div class="homepage-video-play-button">
                        <div class="homepage-video-play-button-inner">
                            <!-- button -->
                        </div>
                    </div>

                </div>

                {% if block_settings.url.type == 'youtube' %}
                    <div class="embed-container">
                        <div class="homepage-hero-youtube-video" id="homepage-hero-youtube-video-{{ block.id }}"
                             data-homepage-hero-video-link="{{ block_settings.url.id }}"
                             data-homepage-hero-video-autoplay="{% if block_settings.autoplay %}true{% else %}false{% endif %}"
                             data-homepage-hero-video-loop="{% if block_settings.loop %}true{% else %}false{% endif %}"
                             data-homepage-hero-video-mute="{% if block_settings.mute %}true{% else %}false{% endif %}">
                        </div>
                    </div>
                {% endif %}

                {% if block_settings.url.type == 'vimeo' %}
                    <div class="embed-container">
                        <div class="homepage-hero-vimeo-video" id="homepage-hero-vimeo-video-{{ block.id }}"
                             data-vimeo-id="{{ block_settings.url.id }}"
                             data-vimeo-autoplay="{% if block_settings.autoplay %}true{% else %}false{% endif %}"
                             data-vimeo-loop="{% if block_settings.loop %}true{% else %}false{% endif %}"
                             data-vimeo-width="746"
                             data-homepage-hero-video-mute="{% if block_settings.mute %}true{% else %}false{% endif %}">
                        </div>
                    </div>

                {% endif %}

                <style>

                    .homepage-video-content-overlay-wrapper-{{ block.id }}::before {
                        opacity: 0.{{ block_settings.video_overlay_opacity }} !important;
                    }

                    {% if block_settings.image %}
                    {% capture selector %}.homepage-video-content-overlay-wrapper-{{ block.id }} .homepage-hero-content-video-image-block{% endcapture %}
                    {% include 'responsive-background-image' with block_settings.image, selector: selector %}
                    {% endif %}

                </style>

            </div>

        </div>

    </div>

</div>