
<div class="homepage-sections-wrapper

{% case block_settings.colors %}
  {% when 'white' %}
    image-with-text-overlay-wrapper--white
  {% when 'accent' %}
    image-with-text-overlay-wrapper--accent
  {% when 'dark' %}
    image-with-text-overlay-wrapper--dark
{% endcase %}

{% case block_settings.textPosition %}
  {% when 'left' %}
    image-with-text-overlay-wrapper--textPosition-left
  {% when 'center' %}
    image-with-text-overlay-wrapper--textPosition-center
  {% when 'right' %}
    image-with-text-overlay-wrapper--textPosition-right
{% endcase %}

{% case block_settings.textAlignment %}
  {% when 'left' %}
    image-with-text-overlay-wrapper--textAlignment-left
  {% when 'center' %}
    image-with-text-overlay-wrapper--textAlignment-center
  {% when 'right' %}
    image-with-text-overlay-wrapper--textAlignment-right
{% endcase %}

">

    {% assign img_size = '2000x' %}

    {% if block_settings.image_height == 'original' %}

        <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">


            <div class="large--one-whole homepage-content--image homepage-content--{{ block.id }}" style="text-align: center;">
                {% if block_settings.image %}
                    {% include 'responsive-image' with block_settings.image %}
                {% else %}
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
                {% endif %}
            </div>

            <div class="grid__item homepage-featured-content-box">

                {% if block_settings.title != blank or block_settings.text != blank or block_settings.button_label != blank %}

                    <div class="homepage-featured-content-box-inner">

                        {% if block_settings.title != blank %}
                            <div class="sitewide--title-wrapper">
                                <h2 class="homepage-sections--title">{{ block_settings.title | escape }}</h2>
                            </div>
                        {% endif %}

                        {% if block_settings.text != blank %}
                            <div class="rte featured-row__subtext textarea">{{ block_settings.text }}</div>
                        {% endif %}

                        {% if block_settings.button_label != blank and block_settings.button_link != blank %}
                            <div>
                                <a href="{{ block_settings.button_link }}" class="homepage-featured-box-btn">
                                    {{ block_settings.button_label | escape }}
                                </a>
                            </div>
                        {% endif %}

                    </div>

                {% endif %}

            </div>

        </div>

        {% if block_settings.image_overlay_opacity != 0 %}
            <style>
                .image-with-text-overlay-wrapper .homepage-content--{{ block.id }}.homepage-content--image::before {
                    opacity: 0.{{ block_settings.image_overlay_opacity }};
                }
            </style>
        {% endif %}

    {% else %}

        <style>
            {% if block_settings.image != blank %}
            {% capture selector %}.homepage-content--{{ block.id }} .img{% endcapture %}
            {% include 'responsive-background-image' with block_settings.image, selector: selector %}

            .homepage-content--{{ block.id }} .img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            {% endif %}

            {% if block_settings.image_overlay_opacity != 0 %}
            .image-with-text-overlay-wrapper .homepage-content--{{ block.id }}.homepage-content--image::before {
                opacity: 0.{{ block_settings.image_overlay_opacity }};
            }
            {% endif %}

            .homepage-content--{{ block.id }} .img {
                height: {{ block_settings.image_height }};
            }

            @media only screen and (min-width: 768px) {
                .homepage-content--{{ block.id }} .rellax.img {
                    height: {{ block_settings.image_height | remove:'vw' | times:1.5 | append:'vw' }};
                    margin-top: {{ block_settings.image_height | remove:'vw' | times:-0.25 | append:'vw' }};
                }
            }

            .parallax.parallax--{{ block.id }} {
                height: {{ block_settings.image_height }};
            }

        </style>

        <div>

            <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

                {% capture image_layout %}
                <div class="large--one-whole homepage-content--image homepage-content--{{ block.id }}">
                    <div class="{% if block_settings.parallax %} parallax parallax--{{ block.id }}{% endif %}">
                        {% if block_settings.image != blank %}
                            <div id="rellax--{{ block.id }}" class="img{% if block_settings.parallax %} rellax{% endif %}" data-rellax-percentage="0.5"></div>
                        {% else %}
                            <div id="rellax--{{ block.id }}" class="placeholder-background img{% if block_settings.parallax %} rellax{% endif %}" data-rellax-percentage="0.5">
                                {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endcapture %}

                {{ image_layout }}

                <div class="grid__item homepage-featured-content-box">

                    {% if block_settings.title != blank or block_settings.text != blank or block_settings.button_label != blank %}

                        <div class="homepage-featured-content-box-inner">

                            {% if block_settings.title != blank %}
                                <div class="sitewide--title-wrapper">
                                    <h2 class="homepage-sections--title">{{ block_settings.title | escape }}</h2>
                                </div>
                            {% endif %}

                            {% if block_settings.text != blank %}
                                <div class="rte featured-row__subtext textarea">{{ block_settings.text }}</div>
                            {% endif %}

                            {% if block_settings.button_label != blank and block_settings.button_link != blank %}
                                <div>
                                    <a href="{{ block_settings.button_link }}" class="homepage-featured-box-btn">
                                        {{ block_settings.button_label | escape }}
                                    </a>
                                </div>
                            {% endif %}

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    {% endif %}

</div>