{% case block_settings.colors %}
  {% when 'white' %}
<div class="homepage-sections-wrapper homepage-sections-wrapper--white {{ section_width }}">
    {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light {{ section_width }}">
        {% when 'accent' %}
        <div class="homepage-sections-wrapper homepage-sections-wrapper--accent {{ section_width }}">
            {% when 'dark' %}
            <div class="homepage-sections-wrapper homepage-sections-wrapper--dark {{ section_width }}">
                {% endcase %}

                <style>
                    {% capture selector %}.homepage-content--{{ block.id }} .img{% endcapture %}
                    {% include 'responsive-background-image' with block_settings.background_image, selector: selector %}

                    {% if block_settings.background_image != blank %}
                    .homepage-content--{{ block.id }} .img {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    {% endif %}

                    .homepage-content--{{ block.id }} .img,
                    .homepage-content--{{ block.id }} .img .icon--placeholder {
                        height: {{ block_settings.height }};
                    }

                    #map-container-{{ block.id }} {
                        display:block;
                        width:100%;
                        background:#eaeaea;
                        min-height: {{ block_settings.height }};
                    }

                    /* Hide Google Links */
                    .gmnoprint a, .gmnoprint span, .gm-style-cc {
                        display:none;
                    }
                    .gmnoprint div {
                        background:none !important;
                    }

                </style>

                <script>

                    var theme = {
                        strings: {
                            addressError: {{ 'sections.map.address_error' | t | json }},
                            addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
                            addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
                            authError: {{ 'sections.map.auth_error_html' | t | json }}
                        }
                    }
                </script>

                <div class="wrapper">

                    <script type="application/json" id="homepage-map--theme--{{ block.id }}">


                        [
                            { "elementType": "geometry", "stylers": [ { "color": "#f5f5f5" } ] },
                            { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
                            { "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
                            { "elementType": "labels.text.stroke", "stylers": [ { "color": "#f5f5f5" } ] },
                            { "featureType": "administrative.land_parcel", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] },
                            { "featureType": "poi", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
                            { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                            { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
                            { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
                            { "featureType": "road", "elementType": "geometry", "stylers": [ { "color": "#ffffff" } ] },
                            { "featureType": "road.arterial", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                            { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#dadada" } ] },
                            { "featureType": "road.highway", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
                            { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
                            { "featureType": "transit.line", "elementType": "geometry", "stylers": [ { "color": "#e5e5e5" } ] },
                            { "featureType": "transit.station", "elementType": "geometry", "stylers": [ { "color": "#eeeeee" } ] },
                            { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#c9c9c9" } ] },
                            { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] }
                        ]

                        []

                        []

                        [
                            { "elementType": "geometry", "stylers": [ { "color": "#212121" } ] },
                            { "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] },
                            { "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                            { "elementType": "labels.text.stroke", "stylers": [ { "color": "#212121" } ] },
                            { "featureType": "administrative", "elementType": "geometry", "stylers": [ { "color": "#757575" } ] },
                            { "featureType": "administrative.country", "elementType": "labels.text.fill", "stylers": [ { "color": "#9e9e9e" } ] },
                            { "featureType": "administrative.land_parcel", "stylers": [ { "visibility": "off" } ] },
                            { "featureType": "administrative.locality", "elementType": "labels.text.fill", "stylers": [ { "color": "#bdbdbd" } ] },
                            { "featureType": "poi", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                            { "featureType": "poi.park", "elementType": "geometry", "stylers": [ { "color": "#181818" } ] },
                            { "featureType": "poi.park", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
                            { "featureType": "poi.park", "elementType": "labels.text.stroke", "stylers": [ { "color": "#1b1b1b" } ] },
                            { "featureType": "road", "elementType": "geometry.fill", "stylers": [ { "color": "#2c2c2c" } ] },
                            { "featureType": "road", "elementType": "labels.text.fill", "stylers": [ { "color": "#8a8a8a" } ] },
                            { "featureType": "road.arterial", "elementType": "geometry", "stylers": [ { "color": "#373737" } ] },
                            { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "color": "#3c3c3c" } ] },
                            { "featureType": "road.highway.controlled_access", "elementType": "geometry", "stylers": [ { "color": "#4e4e4e" } ] },
                            { "featureType": "road.local", "elementType": "labels.text.fill", "stylers": [ { "color": "#616161" } ] },
                            { "featureType": "transit", "elementType": "labels.text.fill", "stylers": [ { "color": "#757575" } ] },
                            { "featureType": "water", "elementType": "geometry", "stylers": [ { "color": "#000000" } ] },
                            { "featureType": "water", "elementType": "labels.text.fill", "stylers": [ { "color": "#3d3d3d" } ] }
                        ]

                    </script>

                    <div class="homepage-indiv-section-wrapper grid--full homepage-map-wrapper map__text--{{ block_settings.layout }}">

                        {% capture image_layout %}
                        {% if block_settings.api_key != blank and block_settings.map_address != blank %}
                            {% assign map_visible = true %}
                        {% else %}
                            {% assign map_visible = false %}
                        {% endif %}

                        <div class="grid__item large--three-quarters homepage-map--image homepage-content--{{ block.id }}">

                            <div class="map-wrapper" data-id="{{ block.id }}" data-colors="{{ block_settings.colors }}">

                                <input type="hidden" id="apikey-{{ block.id }}" value="{{ block_settings.api_key | escape }}" />

                                {% if map_visible %}
                                    <div id="map-container-{{ block.id }}"
                                         class="map-section__container"
                                         data-map
                                         data-address-setting="{{ block_settings.map_address | escape }}"
                                    >
                                    </div>
                                    <div class="map-section__overlay" data-map-overlay></div>
                                {% endif %}
                                {% if block_settings.background_image != blank %}
                                    <div class="homepage-map--image-container img homepage-map--fallback{% if map_visible %} hide{% endif %}"></div>
                                {% else %}
                                    <div class="homepage-map--placeholder-container img placeholder-background homepage-map--fallback{% if map_visible %} hide{% endif %}">
                                        {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                        {% endcapture %}

                        {% if block_settings.layout == 'left' %}
                            {{ image_layout }}
                        {% endif %}

                        <div class="grid__item homepage-map-content-box">

                            {% if block_settings.heading != blank or block_settings.address != blank or block_settings.button_text != blank %}

                                <div class="homepage-map-content-box-inner">

                                    {% if block_settings.heading != blank %}
                                        <div class="sitewide--title-wrapper">
                                            <h2 class="homepage-sections--title">{{ block_settings.heading | escape }}</h2>
                                        </div>
                                    {% endif %}

                                    {% if block_settings.address != blank %}
                                        <div class="rte featured-row__subtext textarea">{{ block_settings.address }}</div>
                                    {% endif %}

                                    {% if block_settings.button_text != blank %}
                                        <div>
                                            <a href="https://maps.google.com?daddr={{ block_settings.map_address | escape }}"
                                               class="btn btn--secondary btn--small map_section__directions-btn"
                                               target="_blank"
                                            >
                                                {{ block_settings.button_text | escape }}
                                            </a>
                                        </div>
                                    {% endif %}

                                </div>

                            {% endif %}

                        </div>

                        {% if block_settings.layout == 'right' %}
                            {{ image_layout }}
                        {% endif %}

                    </div>

                </div>

            </div>