{% assign enableFullSize = false %}
{% assign currentHandle = handle | strip %}

{% if settings.full-size-pages contains ',' %}

    {% assign fullSizePages = settings.full-size-pages | split: ',' %}

    {% if fullSizePages.size > 0 %}

        {% for fullSizePage in fullSizePages %}

            {% assign fullSizePageName = fullSizePage | strip %}

            {% if fullSizePageName == currentHandle %}

                {% assign enableFullSize = true %}

            {% endif %}

        {% endfor %}

    {% endif %}

{% elsif settings.full-size-pages != blank %}

    {% if settings.full-size-pages == currentHandle %}

        {% assign enableFullSize = true %}

    {% endif %}

{% endif %}


{% if template == 'index' or enableFullSize %}

    <div class="flow-homepage">

{% else %}

    <div class="wrapper main-content">

{% endif %}
