{% layout none %}
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}
	{% include 'font-links' %}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  {{ content_for_header }}

</head>

<body>

  <div class="background-overlay">

    {{ content_for_layout }}

  </div>

{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

<script type="text/javascript">
function onload() {
	document.getElementById('password').focus();
	$( "#password-show" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$( ".password--close a" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$(function() {
	  if ( $('.storefront-password-form .errors').size() ) {
	    $( "#site-header" ).slideToggle( "slow");
	  }
	});
}
document.addEventListener('shopify:section:load', onload);
$(document).ready(onload);
</script>

</body>
</html>
