<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!--SCG DEV BLOCK INDEXING -->
    <meta name="robots" content="noindex">
<!--SCG DEV BLOCK INDEXING END -->
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

	{% if settings.favicon != blank %}
	  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
	{% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  {% if template contains 'product' %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {% else %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endif %}
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  <!-- CSS ================================================== -->
  {{ 'plugins.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  {% include 'font-links' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  {% comment %}
  Cart Drawer might be also used by 'Quick Shop' and 'LogIn'
  {% endcomment %}
  <div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer__header sitewide--title-wrapper">
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
        </button>
      </div>
      <div class="drawer__title h2 page--title " id="CartTitle">{{ 'cart.general.title' | t }}</div>
      <div class="drawer__title h2 page--title hide" id="ShopNowTitle">{{ 'products.product.quick_shop' | t }}</div>
      <div class="drawer__title h2 page--title hide" id="LogInTitle">{{ 'customer.login.title' | t }}</div>
      <div class="drawer__title h2 page--title hide" id="SearchTitle">{{ 'general.search.title' | t }}</div>
    </div>
    <div id="CartContainer"></div>
    <div id="ShopNowContainer" class="hide"></div>
    <div id="SearchContainer" class="hide">
      <div class="wrapper search-drawer">
        <div class="input-group">
          <input type="search" name="q" id="search-input" placeholder="Search our store" class="input-group-field" aria-label="Search our store" autocomplete="off" />
          <span class="input-group-btn">
            <button type="submit" class="btn icon-fallback-text">
              <i class="fa fa-search"></i>
              <span class="fallback-text">Search</span>
            </button>
          </span>
        </div>
        {% include 'live-search-result' %}
        <script type="text/javascript">
            var SearchTranslations = {
                no_results_html: {{ 'general.search.no_results_html' | t | json }},
                results_for_html: {{ 'general.search.results_for_html' | t | json }},
                products: {{ 'general.search.products' | t | json }},
                pages: {{ 'general.search.pages' | t | json }},
                articles: {{ 'general.search.articles' | t | json }}
            };
        </script>
        <div id="search-results" class="grid-uniform">
          <!-- here will be the search results -->
        </div>
        <a id="search-show-more" href="#" class="btn hide">{{ 'collections.general.see_more' | t }}</a>
      </div>
    </div>
    <div id="LogInContainer" class="hide"></div>
  </div>
  <div id="DrawerOverlay"></div>

<div id="PageContainer">

	{% section 'announcement-bar' %}

	{% section 'header' %}

    {% section 'sub-header' %}

        {% include 'layout-switcher' %}

		{{ content_for_layout }}

		</div>

	{% section 'footer' %}

</div>

<script type="text/javascript">
window.lazySizesConfig = window.lazySizesConfig || {};
window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

// configure available widths to replace with the {width} placeholder
window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];
</script>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% if template == 'product' %}

  <script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {% endif %}

  {{ 'custom.js' | asset_url | script_tag }}

  {% include 'popup' %}

  {% if settings.show_multiple_currencies %}
    {% include 'currencies' %}
  {% else %}
    <script type="text/javascript">
      window.default_currency_format = {{ shop.money_format | json }};
    </script>
  {% endif %}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% if settings.ajax_cart_method == "drawer" %}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      function init() {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          moneyFormat: {{ shop.money_format | json }},
        });
      }
      jQuery(init);
      document.addEventListener('shopify:section:load', init);

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

  <style>
    {{ template }} {
      color: white;
    }
  </style>

</body>
</html>
