{% if section.settings.enable_announcement_bar %}

  <style>

    .notification-bar{
      background-color: {{ section.settings.notification-bar--background-colour }};
      color: {{ section.settings.notification-bar--text-colour }};
    }

    .notification-bar a, .notification-bar .social-sharing.is-clean a{
      color: {{ section.settings.notification-bar--text-colour }};
    }

    #site-title{
    	padding: {{ section.settings.logo_padding }}px;
    }

  </style>

  <div class="notification-bar">

    {% if section.settings.enable_social_icons %}
      <div id="sharing" class="social-sharing is-clean" data-permalink="{{ permalinkURL }}">
        {% include 'social-icons' %}
      </div>
    {% endif %}

      {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="notification-bar__message custom-font">
          {{ section.settings.message_text }}
        </a>
      {% else %}
        <div class="notification-bar__message custom-font">{{ section.settings.message_text }}</div>
      {% endif %}

  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
	{
	"type": "checkbox",
	"id": "enable_announcement_bar",
	"label": "Enable",
	"default": true
	},
	{
	  "type": "richtext",
	  "id": "message_text",
	  "label": "Announcement text",
	  "default": "<p>Announce something here</p>"
	},
	{
	  "type": "url",
	  "id": "message_link",
	  "label": "Announcement link",
	  "info": "Optional"
	},
	{
	  "type": "color",
	  "id": "notification-bar--background-colour",
	  "label": "Announcement background",
	  "default": "#f1f1f1"
	},
	{
	  "type": "color",
	  "id": "notification-bar--text-colour",
	  "label": "Announcement text",
	  "default": "#8e8e8e"
	},
	{
	"type": "checkbox",
	"id": "enable_social_icons",
	"label": "Enable social icons",
	"default": false
	}
  ]
}
{% endschema %}
