{% for block in section.blocks %}

    {% assign block_settings = block.settings %}

    {% case block.type %}

        {% when 'custom-html' %}
            <div id="shopify-section-custom-html">
                {% include 'dynamic-sections.custom-html' %}
            </div>

        {% when 'featured-blog' %}
            <div id="shopify-section-featured-blog" class="blog-posts-wrapper show-on-scroll">
                {% include 'dynamic-sections.featured-blog' %}
            </div>

        {% when 'featured-products' %}
            <div id="shopify-section-featured-products" class="featured-products-wrapper show-on-scroll">
                {% include 'dynamic-sections.featured-products' %}
            </div>

        {% when 'products-block' %}
            <div id="shopify-section-products-block" class="products-block-wrapper show-on-scroll">
                {% include 'dynamic-sections.products-block' %}
            </div>

        {% when 'feature-row' %}
            <div id="shopify-section-feature-row" class="image-with-text-wrapper show-on-scroll">
                {% include 'dynamic-sections.feature-row' %}
            </div>

        {% when 'image-with-text-overlay' %}
            <div id="shopify-section-image-with-text-overlay" class="image-with-text-overlay-wrapper show-on-scroll">
                {% include 'dynamic-sections.image-with-text-overlay' %}
            </div>

        {% when 'newsletter' %}
            <div id="shopify-section-newsletter" class="homepage-section--newsletter-wrapper wow fadeIn">
                {% include 'dynamic-sections.newsletter' %}
            </div>

        {% when 'indiv-product' %}
            <div id="shopify-section-indiv-product" class="homepage-section--indiv-product-wrapper show-on-scroll">
                {% include 'dynamic-sections.indiv-product' %}
            </div>

        {% when 'instagram' %}
            <div id="shopify-section-instagram" class="instagram-section-wrapper show-on-scroll">
                {% include 'dynamic-sections.instagram' %}
            </div>

        {% when 'map' %}
            <div id="shopify-section-map" class="map-section-wrapper show-on-scroll">
                {% include 'dynamic-sections.map' %}
            </div>

        {% when 'rich-text' %}
            <div id="shopify-section-rich-text" class="rich-text show-on-scroll">
                {% include 'dynamic-sections.rich-text' %}
            </div>

        {% when 'video' %}
            <div id="shopify-section-video" class="homepage-section--video-wrapper show-on-scroll">
                {% include 'dynamic-sections.video' %}
            </div>

    {% endcase %}
{% endfor %}


{% schema %}
{
    "name": "Dynamic sections",
    "blocks": [
        {
            "type": "custom-html",
            "name": "Custom content",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full page width",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "space_around",
                    "label": "Add spacing above and below",
                    "default": true
                },
                {
                    "type": "textarea",
                    "id": "code",
                    "label": "HTML",
                    "default": "<h2>Custom content</h2><p>Use this advanced section to build your own layouts or to add custom HTML or scripts.</p>"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "Width",
                    "default": "100%",
                    "options": [
                        {
                            "value": "25%",
                            "label": "25%"
                        },
                        {
                            "value": "33%",
                            "label": "33%"
                        },
                        {
                            "value": "50%",
                            "label": "50%"
                        },
                        {
                            "value": "66%",
                            "label": "66%"
                        },
                        {
                            "value": "75%",
                            "label": "75%"
                        },
                        {
                            "value": "100%",
                            "label": "100%"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Vertical alignment",
                    "default": "top-middle",
                    "info": "Aligns when next to other custom content",
                    "options": [
                        {
                            "value": "top-middle",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom-middle",
                            "label": "Bottom"
                        }
                    ]
                }
            ]
        },
        {
            "type": "featured-blog",
            "name": "Blog posts",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "From the blog"
                },
                {
                    "type": "text",
                    "id": "tagsFilter",
                    "label": "Filter by this tags"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": "Description",
                    "info": "Optional"
                },
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "id": "blog",
                    "type": "blog",
                    "label": "Blog"
                },
                {
                    "type": "range",
                    "id": "post_limit",
                    "min": 1,
                    "max": 4,
                    "step": 1,
                    "label": "Posts",
                    "default": 3
                }
            ]
        },
        {
            "type": "featured-products",
            "name": "Featured collection",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": "Description",
                    "info": "Optional"
                },
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "id": "collection",
                    "type": "collection",
                    "label": "Collection"
                },
                {
                    "type": "header",
                    "content": "Products per row"
                },
                {
                    "type": "range",
                    "id": "grid-desktop",
                    "min": 2,
                    "max": 6,
                    "step": 1,
                    "label": "Desktop",
                    "default": 4
                },
                {
                    "type": "range",
                    "id": "grid-mobile",
                    "min": 1,
                    "max": 3,
                    "step": 1,
                    "label": "Mobile",
                    "default": 2
                },
                {
                    "type": "range",
                    "id": "rows",
                    "min": 1,
                    "max": 6,
                    "step": 1,
                    "label": "Rows",
                    "default": 2
                },
                {
                    "type": "checkbox",
                    "id": "quick_shop_enable",
                    "label": "Enable quick shop",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "hover-effect",
                    "label": "Enable hover effect",
                    "default": false,
                    "info": "Shows your products second image on hover"
                },
                {
                    "type": "checkbox",
                    "id": "show-vendor",
                    "label": "Show vendor",
                    "default": false
                },
                {
                    "type": "header",
                    "content": "Auto-height images"
                },
                {
                    "type": "paragraph",
                    "content": "Set all of your images to be the same height"
                },
                {
                    "type": "checkbox",
                    "id": "match-height",
                    "label": "Enable auto-height",
                    "default": false
                },
                {
                    "type": "header",
                    "content": "Reviews"
                },
                {
                    "type": "checkbox",
                    "id": "show_reviews",
                    "label": "Enable",
                    "default": false
                },
                {
                    "type": "paragraph",
                    "content": "You will need to install Shopify's [Product Reviews app](https://apps.shopify.com/product-reviews) before enabling this option."
                }
            ]
        },
        {
            "type": "products-block",
            "name": "Products block",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Featured products"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": "Description",
                    "info": "Optional"
                },
                {
                    "id": "collection",
                    "type": "collection",
                    "label": "Collection"
                }
            ]
        },
        {
            "type": "feature-row",
            "name": "Image with text",
            "settings": [
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "Minimal"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "checkbox",
                    "id": "parallax",
                    "label": "Enable parallax effect",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "layout",
                    "label": "Layout",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Image on left"
                        },
                        {
                            "value": "right",
                            "label": "Image on right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "image_height",
                    "label": "Image height",
                    "default": "40vw",
                    "options": [
                        {
                            "value": "30vw",
                            "label": "Small"
                        },
                        {
                            "value": "40vw",
                            "label": "Medium"
                        },
                        {
                            "value": "50vw",
                            "label": "Large"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Share brand or product details"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                }
            ]
        },
        {
            "type": "image-with-text-overlay",
            "name": "Image with text overlay",
            "settings": [
                {
                    "type": "header",
                    "content": "Background image"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_height",
                    "label": "Section height",
                    "default": "40vw",
                    "options": [
                        {
                            "value": "30vw",
                            "label": "Small"
                        },
                        {
                            "value": "40vw",
                            "label": "Medium"
                        },
                        {
                            "value": "50vw",
                            "label": "Large"
                        },
                        {
                            "value": "original",
                            "label": "Original"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "image_overlay_opacity",
                    "min": 0,
                    "max": 95,
                    "step": 5,
                    "unit": "%",
                    "label": "Overlay opacity",
                    "default": 35
                },
                {
                    "type": "checkbox",
                    "id": "parallax",
                    "label": "Enable parallax effect",
                    "default": true,
                    "info": "Parallax won't be visible when the 'Section height' is set to 'Original'"
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image with Text Overlay"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Show large text over a featured image</p>"
                },
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Text color",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "textPosition",
                    "label": "Text position",
                    "default": "center",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "textAlignment",
                    "label": "Text alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Button"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "newsletter",
            "name": "Newsletter",
            "settings": [
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "light",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "id": "newsletter_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Join our Mailing List"
                },
                {
                    "type": "richtext",
                    "id": "newsletter_description",
                    "label": "Description"
                }
            ]
        },
        {
            "type": "indiv-product",
            "name": "Featured product",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Featured product"
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": "Description",
                    "info": "Optional"
                },
                {
                    "type": "product",
                    "id": "featured_product",
                    "label": "Product"
                },
                {
                    "type": "select",
                    "id": "image-placement",
                    "label": "Image placement",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "checkbox",
                    "id": "open_cart_when_added",
                    "label": "Open cart page when item is added",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show-vendor",
                    "label": "Show vendor",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show_product_description",
                    "label": "Show product description",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_quantity_selector",
                    "label": "Show quantity selector",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_smart_checkout",
                    "label": "Show dynamic checkout button",
                    "default": false,
                    "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
                },
                {
                    "type": "header",
                    "content": "Reviews"
                },
                {
                    "type": "checkbox",
                    "id": "show_reviews",
                    "label": "Enable",
                    "default": false
                },
                {
                    "type": "paragraph",
                    "content": "You will need to install Shopify's [Product Reviews app](https://apps.shopify.com/product-reviews) before enabling this option."
                }
            ]
        },
        {
            "type": "instagram",
            "name": "Instagram",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Instagram"
                },
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "light",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "instagram-access-token",
                    "label": "Access token [(?)](http:\/\/www.wetheme.com\/instagram-integration\/)"
                },
                {
                    "type": "select",
                    "id": "instagram-homepage-width",
                    "label": "Width",
                    "options": [
                        {
                            "value": "fixed",
                            "label": "Fixed"
                        },
                        {
                            "value": "full-width",
                            "label": "Full width"
                        }
                    ],
                    "default": "full-width"
                },
                {
                    "type": "range",
                    "id": "grid",
                    "min": 4,
                    "max": 6,
                    "step": 1,
                    "label": "Images per row",
                    "default": 6
                },
                {
                    "type": "range",
                    "id": "rows",
                    "min": 1,
                    "max": 5,
                    "step": 1,
                    "label": "Rows",
                    "default": 1
                }
            ]
        },
        {
            "type": "map",
            "name": "Map",
            "settings": [
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "Minimal"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Text"
                },
                {
                    "id": "heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Our store"
                },
                {
                    "id": "address",
                    "type": "richtext",
                    "label": "Address and hours",
                    "default": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>"
                },
                {
                    "id": "map_address",
                    "type": "text",
                    "label": "Map address",
                    "info": "Google Maps will find the exact location",
                    "default": "80 Spadina Ave, Toronto"
                },
                {
                    "id": "button_text",
                    "type": "text",
                    "label": "Map link label",
                    "default": "Get directions"
                },
                {
                    "type": "select",
                    "id": "layout",
                    "label": "Layout",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Map on left"
                        },
                        {
                            "value": "right",
                            "label": "Map on right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "height",
                    "label": "Height",
                    "default": "40vw",
                    "options": [
                        {
                            "value": "30vw",
                            "label": "Small"
                        },
                        {
                            "value": "40vw",
                            "label": "Medium"
                        },
                        {
                            "value": "50vw",
                            "label": "Large"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Background"
                },
                {
                    "id": "api_key",
                    "type": "text",
                    "label": "Google Maps API key",
                    "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
                },
                {
                    "type": "image_picker",
                    "id": "background_image",
                    "label": "Image",
                    "info": "Displayed if the map isn’t loaded"
                }
            ]
        },
        {
            "type": "rich-text",
            "name": "Rich text",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Welcome to our store"
                },
                {
                    "type": "select",
                    "id": "colors",
                    "label": "Color scheme",
                    "default": "white",
                    "options": [
                        {
                            "value": "white",
                            "label": "White"
                        },
                        {
                            "value": "light",
                            "label": "Light"
                        },
                        {
                            "value": "accent",
                            "label": "Feature"
                        },
                        {
                            "value": "dark",
                            "label": "Dark"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Use this text block to show store announcements, advertise products and collections, or simply welcome visitors to your store.</p>"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                }
            ]
        },
        {
            "type": "video",
            "name":"Video",
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "label":"Heading"
                },
                {
                    "type":"richtext",
                    "id":"richtext",
                    "label":"Description",
                    "info":"Optional"
                },
                {
                    "type":"select",
                    "id":"colors",
                    "label":"Color scheme",
                    "default":"white",
                    "options":[
                        {
                            "value":"white",
                            "label":"White"
                        },
                        {
                            "value":"light",
                            "label":"Light"
                        },
                        {
                            "value":"accent",
                            "label":"Feature"
                        },
                        {
                            "value":"dark",
                            "label":"Dark"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id":"width_classes",
                    "min": 50,
                    "max": 100,
                    "step": 25,
                    "unit": "%",
                    "label":"Width",
                    "default": 75
                },
                {
                    "id":"url",
                    "type":"video_url",
                    "label":"Video URL",
                    "accept":[
                        "youtube",
                        "vimeo"
                    ],
                    "default":"https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
                },
                {
                    "type":"checkbox",
                    "id":"autoplay",
                    "label":"Autoplay",
                    "default":false
                },
                {
                    "type":"checkbox",
                    "id":"loop",
                    "label":"Loop",
                    "default":true
                },
                {
                    "type":"checkbox",
                    "id":"mute",
                    "label":"Mute",
                    "default":false
                },
                {
                    "type":"image_picker",
                    "id":"image",
                    "label":"Image"
                },
                {
                    "type": "range",
                    "id": "video_overlay_opacity",
                    "min": 0,
                    "max": 95,
                    "step": 5,
                    "unit": "%",
                    "label": "Overlay opacity",
                    "default": 50
                }
            ]
        }
    ]
}
{% endschema %}