{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'large--one-whole medium--one-whole small--one-whole' %}
{% when 2 %}
	{% assign footer_item_width = 'large--one-half medium--one-half small--one-whole' %}
{% when 3 %}
	{% assign footer_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% when 4 %}
	{% assign footer_item_width = 'large--one-quarter medium--one-half small--one-whole' %}
{% endcase %}

<footer class="site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ section.settings.alignment }}">
	<div class="wrapper">
		<div class="grid">

			{% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}

	  			<div class="grid__item {{ footer_item_width }} social-media-footer">
	  				<div class="h3 footer-header">{{ 'layout.footer.social_title' | t }}</div>
	  				{% include 'social-icons' %}
	  			</div>

			{% when 'menu' %}

				{% assign menu = linklists[block.settings.footer_linklist] %}
				<div class="grid__item {{ footer_item_width }} links-footer">
					<div class="h3 footer-header">{{ block.settings.menu_title | escape }}</div>
					<ul class="footer-content">
						{% for link in menu.links %}
							{% if link.links != blank %}
								<li>
									<a href="{{ link.url }}" class="footer--has-dropdown-title">{{ link.title }}</a>
									<ul class="footer--level-2">
										{% for sub_link in link.links %}
												<li><a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li>
									<a href="{{ link.url }}">{{ link.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>

				{% when 'text' %}

					<div class="grid__item {{ footer_item_width }} content-footer">
						<div class="h3 footer-header">{{ block.settings.title | escape }}</div>
						<div class="rte footer-article">{{ block.settings.richtext }}</div>
					</div>

				{% when 'image' %}

					<div class="grid__item {{ footer_item_width }} image-footer">
						{% if block.settings.image != blank %}
				      {%- assign img_url = block.settings.image | img_url: '600x' -%}
				    {% else %}
				      {%- assign img_url = '' -%}
				    {% endif %}
				    {% if block.settings.link != blank and img_url != blank %}
				      <a href="{{ block.settings.link }}">
				    {% elsif img_url != blank %}
				      <div class="image-bar__item">
				    {% else %}
				      <div class="image-bar__item">
				    {% endif %}
				    <div class="image-bar__content">
				      {% if img_url == blank %}
				          {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
				      {% else %}
						{% include 'responsive-image' with block.settings.image %}
				      {% endif %}
				    </div>
				    {% if block.settings.link != blank and img_url != blank %}
				      </a>
				    {% else %}
				      </div>
				    {% endif %}

				    {% if block.settings.title %}
				      <h3 class="image-bar--title">{{ block.settings.title }}</h3>
				    {% endif %}
					</div>

				{% when 'newsletter' %}

					<div class="grid__item {{ footer_item_width }} newsletter-footer">
						<div class="h3 footer-header">{{ 'layout.footer.newsletter_title' | t }}</div>
						{% if block.settings.footer_newsletter_description != empty %}
							{{ block.settings.footer_newsletter_description }}
						{% endif %}
						{% form 'customer' %}
							{{ form.errors | default_errors }}
							{% if form.posted_successfully? %}
								<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
							{% else %}
								<div class="input-group">
								<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
								<input type="hidden" name="contact[tags]" value="newsletter">
								<span>
								<input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
								</span>
								</div>
							{% endif %}
						{% endform %}
					</div>

			{% endcase %}

	{% endfor %}

</div>

      <div class="grid bottom--footer">

				{% if section.settings.footer_text %}

					<div class="grid__item large--one-whole">
						<div class="footer-description">
							{{ section.settings.footer_text }}
						</div>
					</div>

				{% endif %}

        <div class="grid__item {% if section.settings.alignment == 'center' %}large--one-whole{% else %}large--one-half{% endif %}">

	            <a href="/">{{ shop.name }}</a> | <a href="http://www.synapseconsultinggroup.com"target="_blank" title="Shopify by Synapse Consulting Group">{{ 'layout.footer.powered_by' | t }}</a> | <a href="http://www.vmg-creative.com" target="_blank" title="Creative by VMG Creative">{{ 'layout.footer.designed_by' | t }}</a>

        </div>

				{% if section.settings.show_social_icons %}
				<div class="grid__item {% if section.settings.alignment == 'center' %}large--one-whole{% else %}large--one-half text-right{% endif %}">

				</div>
				{% endif %}

        {% if section.settings.show_methods_of_payment %}
        <div class="grid__item {% if section.settings.alignment == 'center' %}large--one-whole{% else %}large--one-half text-right{% endif %}">

          {%- assign enabled_payment_types = shop.enabled_payment_types -%}
          {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}

          {% comment %}
          Uncomment next line to show all icons
          {%- assign enabled_payment_types = payment_icons_available -%}
          {% endcomment %}

          {% unless enabled_payment_types == empty %}
            <ul class="inline-list payment-icons">
              {% for type in enabled_payment_types %}
                {% if payment_icons_available contains type %}
                  <li>
                    <span class="icon-fallback-text">
											{%- assign icon_name = type | prepend: 'icon-' -%}
											{% include icon_name %}
                      <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                    </span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}

          </div>
          {% endif %}

      </div>

      </div>

    </footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_methods_of_payment",
      "label": "Payment icons"
    },
		{
			"type": "richtext",
			"id": "footer_text",
			"label": "Footer text"
		},
		{
		  "type": "select",
		  "id": "alignment",
		  "label": "Alignment",
		  "options": [
				{
					"value": "left",
					"label": "Left"
				},
		    {
		      "value": "center",
		      "label": "Center"
		    }
		  ],
		  "default": "left"
		}
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Contact us"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Text",
					"default": "<p>Share store details, promotions, or brand content with your customers.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Heading",
          "default": "Links"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "default": "footer",
					"info": "This menu has limited support for dropdown items"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
	  	"limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "footer_newsletter_description",
          "label": "Newsletter description"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social icons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Edit your social settings and accounts in General settings"
        }
      ]
    },
		{
      "type": "image",
      "name": "Image",
      "settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"info": "Optional"
				}
      ]
    }
  ]
}
{% endschema %}
