<div class="homepage-sections-wrapper homepage-sections-wrapper--white">

<div class="hero--{{ section.settings.hero_size }}{% if section.settings.homepage-hero--full-width %} homepage-hero--full-width{% else %} wrapper{% endif %}">

<div class="homepage-indiv-section-wrapper grid--full homepage-hero-wrapper">

		{% if section.blocks.size > 0 %}
			<div class="grid__item large--two-thirds">
		{% else %}
			<div class="grid__item large--one-whole">
		{% endif %}

		<div class="{% if section.settings.homepage-hero-featured-content != 'homepage-hero-video-selection' %}homepage-hero-content-overlay-wrapper homepage-hero-content-overlay-wrapper-{{ section.id }}{% endif %}">

			{% if section.settings.homepage-hero-featured-content == 'homepage-hero-image-selection' %}

				{% if section.settings.homepage-hero-featured-content.size > 0 %}
					{% if section.settings.homepage-hero-image-link %}
						<a href="{{ section.settings.homepage-hero-image-link }}" class="homepage-hero-image--link-wrapper">
					{% endif %}

					<div class="homepage-hero-content-link-wrapper">

					<div class="homepage-hero-content-image-text-block">

						{% if section.settings.homepage-hero-image-heading != empty %}
							<h2 class="hero-header-fit">{{ section.settings.homepage-hero-image-heading | escape }}</h2>
						{% endif %}

						{% if section.settings.homepage-hero-image-description != empty %}
							<p>{{ section.settings.homepage-hero-image-description | escape }}</p>
						{% endif %}

						{% if section.settings.homepage-hero-image-button-label != empty %}
						<span href="{{ section.settings.homepage-hero-image-link }}" class="btn btn-default">
							{{ section.settings.homepage-hero-image-button-label | escape }}
						</span>
						{% endif %}

					</div>

				</div>

					<div{% if section.settings.zoom_on_hover %} class="zoom-effect--inner"{% endif %}>
						{% if section.settings.home-page-hero-image == blank %}
						    {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
						{% else %}
							{% include 'responsive-image' with section.settings.home-page-hero-image, alt: section.settings.home-page-hero-image.alt %}
						{% endif %}
								</div>

					{% if section.settings.homepage-hero-image-link %}
						</a>
					{% endif %}

				{% endif %}

			{% endif %}

			{% for block in section.blocks %}
				{% if block.settings.hero-menu-image != blank %}
					{% capture id %}overlay-block-{{ block.id }}{% endcapture %}
					{% capture selector %}#{{ id }}{% endcapture %}
					<style>
					{% include 'responsive-background-image' with block.settings.hero-menu-image, selector=selector %}
					</style>
					<div class="homepage-hero-content-overlay homepage-hero-content-overlay-menu-item" id="{{ id }}"></div>
				{% endif %}
			{% endfor %}

			{% if section.settings.homepage-hero-featured-content == 'homepage-hero-video-selection' and section.settings.video_url.type == 'youtube' %}
				<div class="embed-container">
					<div class="homepage-hero-youtube-video" id="homepage-hero-youtube-video-{{ section.id }}"
						data-homepage-hero-video-link="{{ section.settings.video_url.id }}"
						data-homepage-hero-video-autoplay="{% if section.settings.homepage-hero-video-autoplay %}true{% else %}false{% endif %}"
						data-homepage-hero-video-loop="{% if section.settings.homepage-hero-video-loop %}true{% else %}false{% endif %}"
						data-homepage-hero-video-mute="{% if section.settings.homepage-hero-video-mute %}true{% else %}false{% endif %}">
					</div>
				</div>
			{% endif %}

			{% if section.settings.homepage-hero-featured-content == 'homepage-hero-video-selection' and section.settings.video_url.type == 'vimeo' %}
				<div class="embed-container">
					<div class="homepage-hero-vimeo-video" id="homepage-hero-vimeo-video-{{ section.id }}"
						data-vimeo-id="{{ section.settings.video_url.id }}"
						data-vimeo-autoplay="{% if section.settings.homepage-hero-video-autoplay %}true{% else %}false{% endif %}"
						data-vimeo-loop="{% if section.settings.homepage-hero-video-loop %}true{% else %}false{% endif %}"
						data-vimeo-width="746"
						data-homepage-hero-video-mute="{% if section.settings.homepage-hero-video-mute %}true{% else %}false{% endif %}">
					</div>
				</div>
			{% endif %}
		</div>

		<div class="homepage-hero-content-image-text-block homepage-hero-content-image-text-block--mobile">

			{% if section.settings.homepage-hero-image-heading != empty %}
				<h2 class="hero-header-fit">{{ section.settings.homepage-hero-image-heading | escape }}</h2>
			{% endif %}

			{% if section.settings.homepage-hero-image-description != empty %}
				<p>{{ section.settings.homepage-hero-image-description | escape }}</p>
			{% endif %}

			{% if section.settings.homepage-hero-image-button-label != empty %}
			<a href="{{ section.settings.homepage-hero-image-link }}" class="btn btn-default">
				{{ section.settings.homepage-hero-image-button-label | escape }}
			</a>
			{% endif %}

		</div>

	</div>

	{% if section.blocks.size > 0 %}
	<div class="grid__item large--one-third">
		<div class="homepage-hero-menu-wrapper{% if section.blocks.size == 0 %} no-menu-mobile{% endif %}">

				<div class="homepage-hero-menu">
					<ul>

						{% for block in section.blocks %}

								<li data-overlay-id="overlay-block-{{ block.id }}" {% unless block.settings.hero-menu-link %}class="no-link"{% endunless %}>
									{% if block.settings.hero-menu-link %}
										<a href="{{ block.settings.hero-menu-link }}" class="homepage-hero-menu-link">
									{% endif %}
									{% if block.settings.featured_image %}

										{% case block.settings.featured_image_size %}
											{% when 'x-small' %}
												{% assign height = 50 %}
											{% when 'small' %}
												{% assign height = 100 %}
											{% when 'medium' %}
												{% assign height = 150 %}
											{% when 'large' %}
												{% assign height = 200 %}
											{% when 'x-large' %}
												{% assign height = 250 %}
											{% when 'original' %}
												{% assign height = block.settings.featured_image.height %}
										{% endcase %}

										<div class="homepage-hero-menu-indiv-image">
											{% capture props %}style="max-height: {{ height }}px; max-width: {{ block.settings.featured_image.width }}px"{% endcapture %}
											{% include 'responsive-image' with block.settings.featured_image, props: props %}
										</div>
									{% endif %}
									<div class="homepage-hero-menu--indiv-text">
										<span class="h4">{{ block.settings.hero-menu-heading | escape }}</span>
										<p>{{ block.settings.hero-menu-subheading | escape }}</p>
									</div>
									{% if block.settings.hero-menu-link%}
										</a>
									{% endif %}
								</li>

						{% endfor %}

					</ul>
				</div>

		</div>

	</div>
	{% endif %}

</div>

</div>

</div>

{% if section.settings.homepage-hero-featured-content != 'homepage-hero-video-selection' %}
	<style>
		.homepage-hero-content-overlay-wrapper-{{ section.id }}::before{
		    background-color: #000;
		    bottom: 0;
		    content: "";
		    left: 0;
		    opacity: 0.{{ section.settings.image_overlay_opacity }} !important;
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 1;
		}
	</style>
{% endif %}


{% schema %}
{
  "name": "Hero",
  "class": "hero-wrapper show-on-scroll",
  "settings": [
		{
		  "type": "header",
		  "content": "Featured content"
		},
		{
		  "type": "select",
		  "id": "homepage-hero-featured-content",
		  "label": "Content",
		  "options": [
		    {
		      "value": "homepage-hero-video-selection",
		      "label": "Video"
		    },
		    {
		      "value": "homepage-hero-image-selection",
		      "label": "Image"
		    }
		  ],
		  "default": "homepage-hero-image-selection"
		},
		{
		  "type": "header",
		  "content": "Video settings"
		},
		{
		  "id": "video_url",
		  "type": "video_url",
		  "label": "Video URL",
		  "accept": ["youtube", "vimeo"],
		  "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
		},
		{
		  "type": "checkbox",
		  "id": "homepage-hero-video-autoplay",
		  "label": "Autoplay",
		  "default": true
		},
		{
		  "type": "checkbox",
		  "id": "homepage-hero-video-loop",
		  "label": "Loop",
		  "default": true
		},
		{
		  "type": "checkbox",
		  "id": "homepage-hero-video-mute",
		  "label": "Mute",
		  "default": false
		},
		{
		  "type": "header",
		  "content": "Image settings"
		},
		{
		  "type": "image_picker",
		  "id": "home-page-hero-image",
		  "label": "Image"
		},
		{
			"type": "range",
			"id": "image_overlay_opacity",
			"min": 0,
			"max": 95,
			"step": 5,
			"unit": "%",
			"label": "Overlay opacity",
			"default": 0
		},
		{
			"type": "text",
			"id": "homepage-hero-image-heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "homepage-hero-image-description",
			"label": "Description"
		},
		{
			"type": "text",
			"id": "homepage-hero-image-button-label",
			"label": "Button label",
			"info": "Optional"
		},
		{
		  "type": "url",
		  "id": "homepage-hero-image-link",
		  "label": "Link",
		  "info": "Optional"
		},
		{
			"type": "checkbox",
			"id": "zoom_on_hover",
			"label": "Zoom on hover",
			"default": true
		}

  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "text",
      "name": "Menu item",
      "settings": [
        {
          "type": "text",
          "id": "hero-menu-heading",
          "label": "Heading",
					"default": "Title"
        },
				{
          "type": "text",
          "id": "hero-menu-subheading",
          "label": "Subheading",
					"default": "Link to any collection, product or page"
        },
        {
          "type": "url",
          "id": "hero-menu-link",
          "label": "Link"
        },
				{
					"type": "image_picker",
					"id": "featured_image",
					"label": "Featured image",
					"info": "500 x 250px (recommended)"
				},
				{
		      "type": "select",
		      "id": "featured_image_size",
		      "label": "Image height",
		      "default": "medium",
		      "options": [
		        {
		          "label": "Small",
		          "value": "small"
		        },
		        {
		          "label": "Medium",
		          "value": "medium"
		        },
		        {
		          "label": "Large",
		          "value": "large"
		        },
		        {
		          "label": "Extra Large",
		          "value": "x-large"
		        },
						{
		          "label": "Original (uncropped)",
		          "value": "original"
		        }
		      ]
		    },
        {
          "type": "image_picker",
          "id": "hero-menu-image",
          "label": "Hover image",
          "info": "1500 x 1000px (recommended)"
        }
      ]
    }
  ],
	"presets": [{
		"name": "Hero",
		"category": "Advanced layout",
		"blocks": [
			{
				"type": "text",
				"settings": {
          "hero-menu-heading": "Title",
					"hero-menu-subheading": "Link to any collection, product or page"
        }
			},
			{
				"type": "text",
				"settings": {
					"hero-menu-heading": "Title",
					"hero-menu-subheading": "Link to any collection, product or page"
				}
			}
		]
	}]
}
{% endschema %}
