<div class="wrapper">

	<div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper feature-row__text--{{ section.settings.layout }}">

		<div class="grid__item large--five-sixths push--large--one-twelfth homepage-featured-rich-text">

			{% if section.settings.title != blank %}
				<div class="sitewide--title-wrapper">
	        <h2 class="homepage-sections--title">{{ section.settings.title | escape }}</h2>
	      </div>
			{% endif %}

    {% if section.blocks.size > 0 %}
      <div class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
        {% for block in section.blocks %}
          <div class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="logo-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
              {% include 'responsive-image' with block.settings.image, alt: section.settings.image.alt, class: 'logo-bar__image' %}
            {% else %}
              {{ 'logo' | placeholder_svg_tag: 'icon icon--placeholder' }}
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
  {{ 'general.onboarding.no_content' | t }}
</div>

    {% endif %}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Featured logos",
  "class": "homepage-section--logo-bar-wrapper wow fadeIn",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "As seen in"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
