{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white newsletter--section">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light newsletter--section">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent newsletter--section">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark newsletter--section">
{% endcase %}

  <div class="wrapper">
    <div class="grid row--table">
      <div class="grid__item large--one-half medium--one-half small--one-whole newsletter--section--grid vertical--align">

        <div class="newsletter--section--grid_inner newsletter_title">
          <h3>{{ section.settings.newsletter_heading }}</h3>
            {% if section.settings.newsletter_description != empty %}
              <div class="rte">{{ section.settings.newsletter_description }}</div>
            {% endif %}
        </div>

      </div>
      <div class="grid__item large--one-half medium--one-half small--one-whole newsletter--section--grid vertical--align">

        <div class="newsletter--section--grid_inner newsletter_form_section">

            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <p class="note form-success success_section">{{ 'general.newsletter_form_section.thanks' | t }}</p>
            {% else %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div id="newsletter-wrapper">
                <input id="newsletter_text" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form_section.newsletter_text' | t }}" name="contact[email]" class="input-group-field email" aria-label="{{ 'general.newsletter_form_section.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                <input id="newsletter_submit" type="submit" class="btn btn-default" name="subscribe" value="&#xf054;">
              </div>
            {% endif %}
            {% endform %}

        </div>
      </div>

    </div>
  </div>

</div>

{% schema %}
{
  "name": "Newsletter",
  "class": "homepage-section--newsletter-wrapper wow fadeIn",
  "settings": [
  {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "light",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
					"value": "accent",
					"label": "Feature"
				},
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "id": "newsletter_heading",
      "type": "text",
      "label": "Heading",
      "default": "Join our Mailing List"
    },
    {
      "type": "richtext",
      "id": "newsletter_description",
      "label": "Description"
    }
  ],
  "presets": [
    {
    "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}
