<style>

body{
  color: {{ section.settings.text-colour }};
  background-color: {{ section.settings.background-colour }};
}

a{
  color: {{ section.settings.text-colour }};
}

.password--main{
  background-color: {{ section.settings.content-background-colour }};
}

{% if section.settings.background %}
{% include 'responsive-background-image' with section.settings.background, selector: 'body' %}
body{
  background-size: cover;
  background-color: {{ section.settings.background-colour }};
  background-position: center;
  background-attachment: fixed
}

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.image_overlay_opacity }});
    overflow-y: auto;
}
{% endif %}

</style>

<header id="site-header" style="display: none;">
	<div class="site-header--inner">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for='password'>{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">
			<input type='password' name='password' id='password' class="form-control password--input" autofocus />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div class="password--close"><a href="#"><img src="{{ 'close.png' | asset_url }}" alt="Close" /></a></div>
	</div>
</header>

<div class="password--wrapper">

	<div class="password--main">

		<div class="password--logo">
      {% if section.settings.logo %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
		</div>

		{% if shop.password_message and shop.password_message != '' %}
			<div class="welcome-message custom-font">
				<h1>{{ shop.password_message }}</h1>
			</div>
		{% else %}
			<div class="welcome-message custom-font">
				<h1>{{ 'coming_soon.general.opening_soon' | t }}</h1>
			</div>
		{% endif %}

    {% if section.settings.newsletter_enable %}

		<div class="password--mailing-list">
			{% form 'customer' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
				{% else %}
				<div class="form-group">
					<label for="email">{{ section.settings.newsletter_form_heading }}</label>
					<div class="input-group">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input">
						<span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
					</div>
				</div>
				{% endif %}
			{% endform %}
		</div>

    {% endif %}

    {% if section.settings.social_media_icons %}
      {% include 'social-icons' %}
    {% endif %}

		<div id="password--site-owner-options">
			<p><a href="#" id="password-show">{{ 'coming_soon.general.password' | t }}</a></p>
		</div>

		<div id="footer">
			<div id='powered'>
				{{ 'coming_soon.general.powered_by_html' | t }}
			</div>
		</div>

	</div>



</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text-colour",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "content-background-colour",
      "label": "Content background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background-colour",
      "label": "Page background",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Logo width",
      "default": 200
    },
    {
      "type":      "paragraph",
      "content": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)"
    },
    {
      "type": "checkbox",
      "id": "social_media_icons",
      "label": "Show social media icons",
      "default": true,
      "info": "Edit your social settings and accounts in General settings"
    },
    {
      "type": "header",
      "content": "Background image"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Image",
      "info": "2000 x 800px recommended"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 60
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open"
    }
  ]
}

{% endschema %}
