{% if template == 'product' or template == 'collection' or handle contains 'brand-' %}

{% assign navHandle = '' %}

{% for nav in linklists %}

    {% if nav.handle contains 'brand-' %}
        {% assign currentNavHandle = nav.handle | replace: 'brand-','' %}

        {% if template == 'collection' %}

            {% if collection.handle == currentNavHandle %}

                {% assign navHandle = nav.handle %}

            {% endif %}

        {% elsif template == 'product' %}

            {% for currentCollection in product.collections %}

                {% if currentCollection.handle == currentNavHandle %}

                    {% assign navHandle = nav.handle %}

                {% endif %}

            {% endfor %}

        {% elsif handle contains 'brand' %}

            {% if nav.handle == handle %}

                {% assign navHandle = nav.handle %}

            {% endif %}

        {% endif %}

    {% endif %}
{% endfor %}

{% assign menu = linklists[navHandle] %}

{% if navHandle != '' %}
    <div class="wrapper">
        <div class="grid--full grid--table">
            <div class="grid__item large--one-one-half">
               <div class="sub-header">
                   <ul class="site-nav" id="AccessibleNav" role="navigation">
                       {% for link in menu.links %}
                           {% assign linkTitleLower = link.title | downcase %}

                           {% if linkTitleLower == 'logo' %}
                               <li class="site--sub-header__logo">
                                   <a href="/" class="site-header__logo-image">
                                       <img src="{{ link.url }}" alt="{{ link.title }}">
                                   </a>
                               </li>
                           {% elsif link.links != blank %}
                               <li class="site-nav--has-dropdown" aria-haspopup="true">
                                   <a href="{{ link.url }}" class="site-nav__link">
                                       {{ link.title }}
                                       <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                   </a>

                                   <ul class="site-nav__dropdown">
                                       {% for sub_link in link.links %}
                                           <li>
                                               <a href="{{ sub_link.url }}" class="site-nav__link">{{ sub_link.title }}</a>
                                           </li>
                                       {% endfor %}
                                   </ul>
                               </li>
                           {% else %}
                               <li>
                                   <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                               </li>
                           {% endif %}
                       {% endfor %}
                   </ul>
               </div>
            </div>
        </div>
    </div>
{% endif %}

{% endif %}

<style>
    {% if navHandle == '' or menu == blank %}
    .sub-header__wrapper {
        display: none !important;
    }
    {% endif %}
</style>

{% schema %}
    {
        "name": "Sub-header",
        "class": "sub-header__wrapper"
    }
{% endschema %}


